.Network-Navigation{
    display: flex;
    justify-content: space-around;
    background-color: rgb(85, 85, 85);
}.Logo-container{
    display: flex;
    gap: 20px;
}.Network-Navigation ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-size: large;
}.Logo{
    width: 100%;
    max-width: 20%;
}



.main-container{
    background: rgb(26, 136, 176);
    height: 100vh;
}


.Footer-container{
    background-color: aqua;
    height: 25vh;
}